
#AOO{
    margin-top: 9px;
}
#presentAddr{
    margin-top: 10px;
}
#state{
    margin-bottom: 10px;
}
#district{
    
    margin-bottom: 10px;
}
#experience{
    margin-top: 10px;
    margin-bottom: 10px;
}